<!DOCTYPE html>
<html>
    <head>
        <title>AlphaToe</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <div id="board">
                <div class="row">
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                </div>
                <div class="row">
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                </div>
                <div class="row">
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                </div>
            </div>
            <div class="menu">
                <div class="player">
                    <div class="player-portrait">
                        <div id="chat">
                        </div>
                        <span class="player-emoji" id="alphy">😃</span>
                    </div>
                    <div class="player-name">Alphy</div>
                    <div class="player-tile">❌</div>
                </div>
                <div class="controls">
                    <div class="control">
                        Let Alphy go first
                        <div class="toggle">
                            <input id="computerFirstInput" type="checkbox">
                            <label for="computerFirstInput"></label>
                        </div>
                    </div>
                    <div class="control">
                        Make Alphy smart
                        <div class="toggle">
                            <input id="hardModeInput" type="checkbox">
                            <label for="hardModeInput"></label>
                        </div>
                    </div>
                    <button id="resetButton">Reset game</button>
                </div>
                <div class="player">
                    <div class="player-portrait">
                        <span class="player-emoji">👤</span>
                    </div>
                    <div class="player-name">You</div>
                    <div class="player-tile">⭕</div>
                </div>
            </div>
        </div>
    </body>
</html>
