@import 'toggle.css';
@import 'button.css';

.menu {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.player {
    text-align: center;
}

.player-portrait {
    position: relative;
}

.player-emoji {
    margin: 0 20px;
    font-size: 70px;
}

.player-name {
    text-transform: uppercase;
}

.controls {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 20px;
}

.control {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 5px 0;
}

@media (max-width: 540px) {
    .player-emoji {
        margin: 0 5px;
        font-size: 48px;
    }

    .control {
        flex-direction: column;
    }

    .control .toggle {
        margin: 5px 0;
    }
}
